@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
.quotes,
.author{
    font-family: 'Caveat', cursive;
    font-size: larger;
}
.name{
    font-family: 'Audiowide', cursive;
}
#tweetMe{
    width: 100%;


}

body{
    background-color: #1DA1F2
}

.container{
    box-shadow: 0 0.2rem 3rem rgba(0, 0, 0, 0.5);
    margin-top: 3% ;
    margin-left: 27%;
    margin-right: 27%;
border: 1.7px solid black;
border-radius: 20px;
padding: 20px;
background-color: white;

}

#newQ{
    display: inline;
    border: 1px solid black;
    border-radius: 14px;
    padding: 5px;
    background-color: seashell ;
}
